<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/mvc
                http://www.springframework.org/schema/mvc/spring-mvc.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="cn.baimu.service.impl.UserServiceImpl"/>

    <bean id="edgeTerminalService" class="cn.baimu.service.impl.EdgeTerminalServiceImpl"/>

    <bean id="outlierService" class="cn.baimu.service.impl.OutlierServiceImpl"/>

    <bean id="securityStaffService" class="cn.baimu.service.impl.SecurityStaffServiceImpl"/>

    <bean id="positionCategoryService" class="cn.baimu.service.impl.PositionCategoryServiceImpl"/>

</beans>