*{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
}

body{
    background: linear-gradient(to bottom, rgba(5,110,205,.8), rgba(144,185,235,.5));
    height: 78%;
}

.login_div{
    display:block;
    width: 450px;
    height: 350px;
    margin: 160px auto;
}

#username{
    margin-top: 2%;
    margin-bottom:2%;
    width:260px;
    height:40px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    caret-color:white;
    color:white;
}

#password{
    margin-top: 1%;
    width:260px;
    height:40px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    caret-color:white;
    color:white;
}

input::-webkit-input-placeholder{
    text-align: center;
    color:white;
}

#loginbutton{
    margin-top: 3%;
    width:260px;
    height:40px;
    border-radius: 4px;
    border: none;
    background: white;
    color: cornflowerblue;
}

#logo{
    margin-bottom: -30%;
    width:60%;
    height:50%;
}

#loginForm {
    margin-top: 25%;
}