<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.baimu.mapper.UserMapper">

    <insert id="add" parameterType="cn.baimu.po.User">
        insert into users values(#{id},#{username},#{password},#{jurisdiction})
    </insert>

    <delete id="delete" parameterType="cn.baimu.po.User">
        delete from users where username = #{username}
    </delete>

    <select id="findAll" resultType="cn.baimu.po.User">
        select * from users
    </select>

    <select id="findByUsername" parameterType="String" resultType="cn.baimu.po.User">
        select * from users where username = #{value}
    </select>

</mapper>